# Installed Modules
node_modules/

# Temp Files
.DS_Store
/.scripts
/dump

# IDE / Editors
*~

# Build Artifacts
build/
dist/
docs/
*.js
!/packages/*/*.js
!/*.js
!/packages/*/src/lib/*.js
*.d.ts
build.out
