@import "../../base/css/main";
@import "./Base";

:local(.className) {
    .value-display {
        background-color: blue;
    }

    .item:hover {
        background-color:#ccc;
    }

    .token {
        background-color: #e6e6e6;
    }
}