@import "../../base/powerbi/css/main";
@import "./Base";

.value-display {
   background-color: $dataColor1;
}

.item:hover {
    background-color: $neutralTertiaryAltColor;
}

.token {
    background-color: $neutralLightColor;
}

.logArea {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
    overflow: auto;
    background-color: white;
    border-top: 1px solid gray;
    display:none;
}