
@import "../../../node_modules/essex.powerbi.base/css/main";
@import "../../../node_modules/essex.powerbi.base/css/variables";
@import "../../css/Base";

:local(.className) {
    .value-display {
    background-color: $dataColor1;
    }

    .item:hover {
        background-color: $neutralTertiaryAltColor;
    }

    .token {
        background-color: $neutralLightColor;
    }

    .searchbox {
        border: 1px solid #999;
        padding-left: 2px;
    }
}