@import "../../../node_modules/essex.powerbi.base/css/main";
@import "../../css/Base";

.value-display {
   background-color: $dataColor1;
}

.item:hover {
    background-color: $neutralTertiaryAltColor;
}

.token {
    background-color: $neutralLightColor;
}